.footer-container {
  background-color: white;
}
.footer-contain{
justify-content: space-between;
margin-bottom: 60px;
display:flex;
flex-direction: row;
}
.connect{
  display:flex;
  flex-wrap: wrap;
  text-align: center;
 justify-content: space-between;
  /* align-items: center; */
  width:100%;
}

.footer-input {
  padding: 8px 20px;
  margin-right: 10px;
  font-size: 18px;
  margin-bottom: 16px;
}
.footer-input:hover{
  border: 2px solid rgb(49, 48, 48);
}
.top{
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
.sub{
  width:25%;
  height:12%;
  flex-wrap: wrap;
  border-style: solid;
}
.sub:hover{
  background-color: orangered;
}
.aa{
  font-size: 19px;
  width:100%;
}
.social-icon-link {
  color: blue;
  align-items: center;
  font-size: 50px;
}
.social-icons{
  padding-left: 100px;
  display: flex;
  align-content: center;
}
.div3{
  /* padding-left: 100px; */

  flex-direction: column;
  
  text-align: center;
  justify-content: center;
}

.website-rights {
  color:black;
  background-color: orangered;
}


.right{
  text-align:center;
  height:30px;
  font-size: 20px;
 margin-bottom: 0em;
background-color: orangered;
}




@media screen and (min-width: 320px) {
  .footer-contain{
  justify-content: space-between;
  display:flex;
  flex-direction: row;
  }
}